body {
    margin: 60px auto;
    width: 70%;
    background-size: 1440px 1000px;
    background-image: url("https://cdn.discordapp.com/attachments/385115689058304001/449260370591481877/high-tech-background-30884-31614-hd-wallpapers.jpg");
    background-attachment: fixed;
}
h9 {
       margin: 60px auto;
    width: 70%;
    background-size: 1440px 1000px;
    background-position:fixed;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Trebuchet MS', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #1fbd23;
}


a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Trebuchet MS', 'Sans-Serif';
    color: #99AAB5;
}

h2 {
    font-size: 2em;
    font-family: 'Helvetica', 'Trebuchet MS', 'Sans-Serif';
    color: #99AAB5;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #99AAB5;
    font-family:'Helvetica', 'Trebuchet MS', 'Sans-Serif';
  
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #ffe5e5;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    color: #1fbd23;
}

coinhive-miner{
    font-size: 1.5em
    color: #ffffff
    }

